:root{
  --primary: #3F51B5;
  --blue-bg: #F0F5FF;
  --white-200:#3F51B50A;
  --white-300:#3F51B50A;
  --white-400: #E5E5E5;
  --white-900: #FFFFFF;
  --white-600: #F5F5F5;
  --white-350:#F1F1F1;
  --danger-700: #D8433A;
  --danger-500: #C33E38;
  --danger-300: #D8433A29;
  --warning: #F1B22A;
  --info: #5AA3ED;
  --info-100:#3F51B529;
  --pink: #EF7098;
  --help: #8330A4;
  --dark: #000000;
  --dark-380: #00000061;
  --dark-600: #00000099;
  --dark-700: #000000b3;
  --dark-200:rgba(0, 0, 0, 0.6);
  --dark-150:rgba(0, 0, 0, 0.12);
  --dark-1:#0000004d;
  --dark-2:#00000026;
  --success-700: #638A3F;
  --Success-500:#B3CfA94D;
  --success-300: #B3CfA94D;
  --grey: #1F1F1F1F;

}
