@import "_variables.scss";
@import "_mixin.scss";
@import "_variables.scss";
@import "_media-query";
@import "_utilities.scss";




html, body{
  font-family: sans-serif;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 1px;
}

